__pycache__
server_config.py
client_config.py
server_config.toml
client_config.toml
client_resolvers.txt
encrypt_key.txt
local_dns_cache.json
local_dns_cache.bin
*.key
*.pem
*.crt
.vscode/
.env
.DS_Store
logs/
*.log
*.zip
*.tar.gz
*.bak
*.tmp
*.exe
build/
.gocache
vendor/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/masterdnsvpn-release.jks
android/app/libs/*.aar
android/app/libs/*.jar
android/app/libs/jni/
android/app/libs/AndroidManifest.xml
android/app/libs/R.txt
android/app/libs/proguard.txt
android_mod/
go.work
go.work.sum
android/signing.properties
ios/Frameworks/*.xcframework
ios/*.xcodeproj
ios/*.xcworkspace
ios/DerivedData/
ios/build/
.bench/
.github/copilot-instructions.md
client_config.toml.simple
android/app/src/main/assets/background.png
android/app/src/main/assets/logo.png
android/app/src/main/assets/notif.png
android/app/src/main/assets/res/drawable-hdpi/ic_stat_notif_removebg_preview.png
android/app/src/main/assets/res/drawable-mdpi/ic_stat_notif_removebg_preview.png
android/app/src/main/assets/res/drawable-xhdpi/ic_stat_notif_removebg_preview.png
android/app/src/main/assets/res/drawable-xxhdpi/ic_stat_notif_removebg_preview.png
android/app/src/main/assets/res/drawable-xxxhdpi/ic_stat_notif_removebg_preview.png
